@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.content-section {
    text-align: center;
    padding: 20px; 
}
.content-section p {
    font-size: 1.3rem; 
    
}

.content-section h2, .content-section p {
    margin: 0 auto; 
    max-width: 800px; 
}
.content-section h2, .content-section p {
    color: #000000; 
}

/* GOLDEN WHITE ANIMATION TEXT */
.animated-text {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(255, 255, 0), rgb(226, 242, 75), rgb(0, 0, 0));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shimmer 10s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.hero-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 

}

.hero-nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}
/* Youtube Video */
.video-section {
    text-align: center; 
    padding: 20px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}


html {
    scroll-behavior: smooth;
}




.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-align: center;
    z-index: 10;
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5rem;
}

.hero-nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 20;

}


.hero-nav li {
    margin: 0 25px;
}

.hero-nav a {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    font-size: 18px; 
}

.hero-nav a:hover, .hero-nav a:focus {
    color: #ffe100; 
    text-shadow: 0 0 5px #fff700;
}




/* CARD SECTION */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px;
}

.card {
    width: calc(33% - 40px);
    box-shadow: 0 2px 4px rgba(234, 198, 105, 0.944);
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

.card h3,
.card p {
    color: #000000;
}

.card img {
    max-width: 100%;
    height: auto;
}


/* ACCORDION */
.accordion-section {
    background-color: #f9f9f9;
    color: #000000;
    padding: 2rem;
    text-align: center;
}

.accordion-toggle {
    position: relative;
    background: none;
    border: 1px solid #D4AF37;
    outline: none;
    padding: 1rem;
    text-align: left;
    width: 100%;
    color: #000000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-toggle::after {
    content: ' +';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion input[type="checkbox"]:checked + label::after {
    content: ' -';
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-content {
    display: none; 
    background-color: #ffffff;
    color: #000000; 
    border-top: 1px solid #333; 
    padding: 1rem;
    transition: max-height 0.3s ease-out; 
    overflow: hidden;
    max-height: 0; 
}

.accordion input[type="checkbox"]:checked + label + .accordion-content {
    display: block; 
    max-height: 1000px; 
}

/* FOOTER */
footer {
    background-color: #f9f9f9;
    color: #000000;
    padding: 40px 0;
    font-size: 16px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-section {
    margin: 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #000000;
}

.social-icons {
    font-size: 24px;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: inherit; 
}

.social-icons a:hover,
.social-icons a:focus {
    color: #3698e3;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #000000;
    padding-top: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
    }
}

footer {
    text-align: center;
    padding: 20px;
}

/* RESPONSIVE */
img, video {
    max-width: 100%;
    height: auto;
}
/* Default styles */
.hero-text h1 {
    font-size: 2.5rem;

}
/* larger screens */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.card {
    width: calc(33% - 40px); 
    margin: 20px;

}

/* mobile device */
@media screen and (max-width: 768px) {
    .card-section {
        flex-direction: column;
        align-items: center; 
    }

    .card {
        width: 80%;
        margin: 10px 0; 
    }
}

@media screen and (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.25rem;
    }
}